@{
    ViewData["Title"] = "JKL Healthcare Management System by 11810937 - Olajide Osho"; 
}

<div class="text-center">
    <h1 class="display-4">Welcome to JKL Healthcare</h1> 
    <p>Manage patients, caregivers, and appointments efficiently and securely.</p> 
</div>